header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(29, 29, 29);
    background-color:rgb(83, 7, 205);
}

a {
    border: none;
    padding: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0px;
    font-size: larger;
    color: rgb(0, 0, 0);
    background-color: inherit;
}

a:hover {
    background-color: rgb(36, 178, 20);
    cursor: pointer;
}

.activeLink {
    background-color: rgb(36, 178, 20);
}